<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <header class="main-header">
        <a class="logo" src="{% url 'index' %}" class="logo" alt="Главная страница">
            <img src="/static/img/gerb_shd.png" alt="Герб города Салехард"></a>
        <a href="{% url 'index' %}">Администрация города Салехард</a>
        <div class="hot-line">
            <p>Телефон горячей линии</p>
            <a href="tel:+79220908877">+7 922 080 88 77</a>
        </div>
        <a class="login" href="{% url 'login' %}"><img width="20px" height="20px" src="/static/img/enter.svg" alt="Войти в аккаунт"></a>
    </header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer class="">

</footer>

</body>
</html>