{% extends 'slaves/base_slave.html' %}
{% block title %}
<title>Форма для получения спецпропуска для автомобиля</title>
{% endblock %}
{% block content %}
<section>
    <form method="get" action="{% url 'reg_form' %}">
        <fieldset>
            <legend>Проверить свою оргазацию в реестре</legend>
            {% if alert %}
            <h1>{{ alert }}</h1>
            {% endif %}
            <label>Поиск по ИНН</label><br>
            <input class="input" name="inn" type="search" placeholder="Введите ИНН организации">
            <button class="add-on icon-start" type="submit">Найти</button>
            <!-- <a href="#more">Подробнее</a> -->
        </fieldset>
    </form>
</section>
{% endblock %}
