{% extends 'base.html' %}
{% block title %}
<title>Запросы в обработке</title>
{% endblock %}
{% block content %}
{% if req_id %}
<p>{{ req_id }} {{ decision }} {{ comment }} {{ user }}</p>
{% endif %}
<section class="nav-mngmt">
    <ul>
        <li><a href="{% url 'bb_index' %}">Не обработанные</a></li>
        <li><a href="{% url 'accepted' %}">Одобренные</a></li>
        <li><a href="{% url 'declined' %}">Отклоненные</a></li>
        <li><a href="{% url 'okveds_list' %}">Список ОКВЭДов</a></li>
    </ul>
</section>
<section class="requests-list">

    <table class="okveds_list_table">
        <caption><a href="{% url 'create_okved' %}">Добавить ОКВЭД</a></caption>
        <tr class="requests-list-header">
            <th>№ ОКВЕД</th>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        {% for okved in okveds_list %}
        <tr class="requests-list-rows">
            <td><a href="{% url 'okved_card' okved_id=okved.id %}">{{ okved.okved_number }}</a></td>
            <td><a href="{% url 'okved_card' okved_id=okved.id %}">{{ okved.okved_name }}</a></td>
            <td><a href="{% url 'okved_card' okved_id=okved.id %}">{{ okved.okved_description }}</a></td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}