@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;0,900;1,200;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    min-width: 425px;
    background-color: #F8F8F8;
    display: grid;
    font-family: 'Montserrat',sans-serif;
}
main:after {
    content: "";
    display: block;
}
main {
    height: 100%;

}
.main-header {
    padding: 0 20px 0 20px;
    background-color: #2E2C44;
    color: #f8f8f8;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 43px  auto auto 20px;
    grid-template-rows: auto;
    gap: 10px;
    align-items: center;
}

.main-header a {
    color: #f8f8f8;
    text-decoration: none;
}

.main-header P {
    text-align: left;
}

.main-header div {
    justify-self: end;
}

.main-header :last-child {
    justify-self: end;
}
.logo img {
    width: 43px;
    height: 63px;
}

.hot-line{
padding: 0 20px 0 0;
}

.hot-line a {
    color: red;
    font-size: 16px;
}
.main-nav {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.hot-line p {
    font-size: 11px;
    margin: 0 auto;
}

@media (max-width: 642px) {
    body {font-size: 12px;}
    .hot-line a {font-size: 12px;}
    .hot-line p {font-size: 8px;
                 width: 122px;   }
}

.login img {
    width: 20px;
    height: 20px;
}

.welcome_screen {
    width: 80%;
    /*border: 1px solid black;*/
    margin: 20px auto;

}

.welcome_screen h1{
    grid-column: 1 / 4;
    justify-self: center;
}

.welcome_screen p{
    grid-column: 1 / 4;
    justify-self: center;
}

.logo {
    text-decoration: none;
    display: flex;
    color: #f8f8f8;
}

.logo p {
    margin: 5px auto;
}

fieldset {
  margin: 30px auto;
  width: 60%;
  /*outline: 2px dashed rgba(0, 128, 0, 0.2);
  outline-offset: 5px;*/
}
legend {
    font-weight: bold;
    line-height: 2;
}
input {
    margin-bottom: 10px;
}
.add-on {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 12px;
  min-width: 40px;
  min-height: 35px;
  border: 2px solid #cccccc;
  background-color: #eeeeee;
  color: #666666;
  vertical-align: top;
}
.input {
  width: 210px;
  padding: 8px 10px;
  border: 2px solid #cccccc;
}

.reg-number {
    border-radius: 6px 0 0 6px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 1px solid #000;
    background-color: #f5f5f5;
}

.input-numb {
    width: 50px;
    padding: 8px 10px;
    border: 2px solid #cccccc;
}
.input-reg-numb {
    width: 20px;
    padding: 8px 10px;
    border: 2px solid #cccccc;
}
.input-name-auto {
    width: 80px;
    padding: 8px 10px;
    border: 2px solid #cccccc;
}
.input-model-auto {
    width: 80px;
    padding: 8px 10px;
    border: 2px solid #cccccc;
}

footer {
    display: block;
    background-color: #2D2D44;
    color: #fff;
}
.social-list-item a {
    color: #f8f8f8;
    text-decoration: none;
    list-style: none;
}

.request_card {
    width: 70%;
    margin: 30px auto;
}
.nav_request_card {
    margin: 20px auto;
}
textarea {
    width: 250px;
    height: 100px;
}