{% extends 'base.html' %}
{% block title %}
<title>Вход для менеджеров</title>
{% endblock %}
{% block content %}

{% if form.errors %}
<section class="login-alert">
    <p>Введено неверное имя пользователя или пароль. Повторите еще раз.</p>
</section>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<section class="login-alert">
    <p>У вашего профиля нет прав доступа к данному разделу сайта.</p>
</section>
{% else %}
<section class="login-alert">
    <p>Пожалуйста авторизуйтесь</p>
</section>
{% endif %}
{% endif %}

<section style="margin: 30px auto; width: 350px; padding: 10px 10px;">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table style="margin: 0 auto;">

            <tr style="height: 50px;">
                <td style="padding-bottom: 7px;">{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>

            <tr>
                <td style="padding-bottom: 7px;">{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 0 30px 0 30px">
                    <input class="input" style="width: 100%;" type="submit" value="Вход"/>
                </td>
            </tr>
<!--            <tr>-->
<!--                <td colspan="2" style="padding: 0 30px 0 30px; text-align: center;">-->
<!--                    {# Assumes you setup the password_reset view in your URLconf #}-->
<!--                    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>-->
<!--                </td>-->
<!--            </tr>-->
        </table>

        <input class="input" type="hidden" name="Далее" value="{{ next }}"/>
    </form>

</section>

{% endblock %}